<li>
  <%= gravatar_for user, size: Settings.user.size_ava_sm %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  <%= t("label.stoke") %><%= link_to t("label.del"), user, method: :delete, data: {confirm: t("label.sure")} %>
  <% end %>
</li>
